asgiref==3.7.2
backports.zoneinfo==0.2.1
dj-database-url==2.1.0
Django==4.2.9
django-appconf==1.0.6
django-browser-reload==1.12.1
django-compressor==4.4
django-tailwind==3.6.0
django-webpack-loader==3.0.1
gunicorn==21.2.0
packaging==24.0
pillow==10.2.0
psycopg2-binary==2.9.9
pypi==2.1
python-decouple==3.8
rcssmin==1.1.1
rjsmin==1.2.1
sqlparse==0.4.4
typing_extensions==4.9.0
whitenoise==6.6.0
