{% extends 'base.html' %}
{% load static %}
{% block title %} 
    Home
{% endblock title %} 

{% block content %}
        <nav> 
            {% include 'navbar.html' %}  
        </nav> 
        <!--alert for log-in/log-out-->
        {% if messages %} 
        {% for home_message in messages %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  
                {{ home_message }}
        </div>   
        {% endfor %}
        {% endif %} 
        <body>   
            <p id="firstpara">Where the business makes<br>it easier to buy</p>
            <!--section 1-->
            <div class="section_one"> 
                    <div class="row">  
                       <div class="col-1">
                            <img src = "{% static 'media/watchpichome.webp' %}" alt="swiss watch home picture"/>  
                            <p id="first_sub">Wore Luxury</p> 
                            <p id="second_sub">Watches</p>
                            <p id="main_sub"><a href="/">Shop now</a></p> 
                        </div>
                        <div class="col-2">
                            <img src = "{% static 'media/swissshoehome.jpg' %}" alt="footwear home picture"/>   
                            <p id="first_sub">Latest Kick</p> 
                            <p id="second_sub">Footwears</p>
                            <p id="main_sub"><a href="/">Shop now</a></p> 
                        </div>
                        <div class="col-3">
                            <img src = "{% static 'media/clothpichome.jpeg' %}" alt="clothing home picture"/>  
                            <p id="first_sub">20% off</p>
                            <p id="second_sub">Clothing</p> 
                            <p id="main_sub"><a href="/">Shop now</a></p>
                        </div>
                    </div> 

            </div> 
            <!--section 1--> 

            <!--section 2-->
            <div class="section_two"> 
                <p id="featured_heading">Featured</p>  
                <div class="products-row">
                    {% for product in products %} 
                    <div class="products">
                            <img src = "{{ product.image.url }}" height = "300px" width = "200px" />   
                            <p id="product_name"> {{ product.name }} </p> 
                            <p id="product_category"> {{ product.category }} </p> 
                            <p id="product_price"> RS {{ product.price }} <i class="fa-solid fa-cart-shopping"></i></i></p>
                    </div> 
                    {% endfor %}
                </div>
            </div> 
            <!--section 2--> 

            <!--section 3-->
            <div class="section_three"> 
                <p id="animation_title">Some of the brands we have</p> 
                <div class="slider">
                    <div class="slide-track"> 
                    <!--brand-logo images-->             
                    <div class="slide">
                            <img src = "{% static 'media/h&mlogo.png' %}" height = "70px" width = "120px"/>
                        </div> 
                        <div class="slide">
                            <img src = "{% static 'media/nikelogo.jpg' %}" height = "70px" width = "120px"/>
                        </div> 
                        <div class="slide">
                            <img src = "{% static 'media/fossillogo.png' %}" height = "70px" width = "120px"/> 
                        </div> 
                        <div class="slide">
                            <img src = "{% static 'media/casiologo.jpg' %}" height = "70px" width = "120px"/>
                        </div> 
                        <div class="slide">
                            <img src = "{% static 'media/calvinkleinlogo.jpg' %}" height = "70px" width = "120px"/>
                        </div> 
                        <div class="slide">
                            <img src = "{% static 'media/allensollylogo.jpg' %}" height = "70px" width = "120px"/>
                        </div> 
                        <div class="slide">
                            <img src = "{% static 'media/raybanlogo.png'}" height = "70px" width = "120px"/>
                    <!--brand-logo images-->
                    </div> 
                </div>
                </div>
            </div>
            <!--section 3--> 

            <!--section 4-->
            <div class="section_four">
                <div class="comment-box">
                    <div class="box"> 
                        <div class="comment_user_profile"> 
                            <img src = "{% static 'media/sampleuser1.jpg' %}" width ="60px" height="60px"/>
                        </div> 
                            <div class="comment_user_details">
                                <p id="comment_id">Patrick Bateman</p>    
                                <p id="comment_date">2024</p>  
                                <p id="user_comment">Impressive, very nice</p>
                            </div> 
                    </div>
                </div>
            </div>
            <!--section 4-->
            {% include 'footer.html' %} 
        </body>
{% endblock %}  
