{% extends 'base.html' %}
{% load static %} 
{% block title %} 
    Login 
{% endblock title %}  

{% block content %}    
    {% if messages %} 
        {% for login_message in messages %}
        <div class="login-alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  
                {{ login_message }}
        </div>   
        {% endfor %}
    {% endif %} 
    <body> 
        <section class="login_page">
            <div class="login-form-main"> 
                <div class="login">
                    <form method="POST" action = "{% url 'login' %}"> 
                        <!--cross site request-forgery-->
                        {% csrf_token %} 
                        <label for="lbl" id="login-label">Login</label>  
                            <input type="text" name="userid" placeholder="Email or phone number"/> 
                            <input type="password" name="userpassword" placeholder="Password"/>  
                            <button type="submit">Login</button> 
                    </form> 
                    <br/> 
                      <p id="createacc">New Here? <a href="{% url 'register' %}">Create an account</a></p>
                </div> 
            </div> 
        </section>
    </body>
{% endblock content %}



