{% extends 'base.html' %}
{% load static %} 
{% block title %} 
    Login 
{% endblock title %}  

{% block content %}   
    <nav>
        {% include 'navbar.html' %}
    </nav>
    {% if messages %} 
        {% for message in messages %}
        <div class="login-alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  
                {{ message }}
        </div>   
        {% endfor %}
    {% endif %} 
    <body> 
        <section class="login_page">
            <div class="login-form-main"> 
                <div class="login">
                    <form method="POST" action = "{% url 'route:login' %}"> 
                        <!--cross site request-forgery-->
                        {% csrf_token %} 
                        <label for="lbl" id="login-label">Login</label>  
                            <input type="text" name="userid" placeholder="Email or phone number"/> 
                            <input type="password" name="userpassword" placeholder="Password"/>  
                            <button type="submit">Login</button> 
                    </form> 
                </div> 
                <div class="sign-up">
                    <form> 
                        <label for="lbl" id="signup-label">Sign up</label>  
                            <input type="text" name="userid" placeholder="Username"/> 
                            <input type="email" name="useremail" placeholder="Email"/> 
                            <input type="password" name="userpassword" placeholder="Password"/> 
                            <button type="submit">Sign up</button>
                    </form>  
                </div>
            </div> 
        </section>
    </body>
{% endblock content %}



