{% load static %}
<nav>
      <label class="logo">
          <a href="{% url 'index' %}">Swiss-in</a>
      </label> 
      <ul class="navbar">
        <li><a href="{% url 'index' %}">Home</a></li> 
        
        <li><a href="{% url 'cart_summary' %}">Cart</a></li> 
      </ul>  
      <div class="profile_button_main"> 
        {% if user.is_authenticated %} 
            <button class="profile_button"><a href="{% url 'logout' %}">Logout</a></button>   
        {% else %}
            <button class="profile_button"><a href="{% url 'login' %}">Login</a></button>  
        {% endif %}
    </div> 
</nav>