{% extends 'base.html' %} 
{% load static %} 
{% block title %} 
    Register 
{% endblock title %} 


{% block content %} 
<nav>
    {% include 'navbar.html' %}
</nav>
    {% if messages %} 
        {% for register_message in messages %}
        <div class="login-alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  
                {{ register_message }}
        </div>   
        {% endfor %}
    {% endif %} 
<body>
<section class="signup_page"> 
    <div class="signup-form-main">
            <div class="sign-up">
                <form method="POST" action="{% url 'route:register' %}"> 
                        {% csrf_token %}
                    <label for="lbl" id="signup-label">Sign up</label>             
                            {{ form.as_p }}
                    <button type="submit">Register</button>  
                </form>   
            </div> 
    </div> 
</section>
</body>
{% endblock content %} 