{% extends 'store/base.html' %}
{% load static %}
{% block title %} 
    Home
{% endblock title %} 

{% block content %}
        <header> 
            {% include 'store/navbar.html' %} 
        </header>  
        <body>   
            <p id="firstpara">Where the business makes<br>it easier to buy</p>
            <!--section 1-->
            <div class="section_one"> 
                    <div class="row">  
                       <div class="col-1">
                            <img src = "{% static 'media/swisswatchhome.jpg' %}" alt="swiss watch home picture"/>  
                            <p id="first_sub">Wore Luxury</p> 
                            <p id="second_sub">Watches</p>
                            <p id="main_sub"><a href="/">Shop now</a></p> 
                        </div>
                        <div class="col-2">
                            <img src = "{% static 'media/swissshoehome.jpg' %}" alt="footwear home picture"/>   
                            <p id="first_sub">Latest Kick</p> 
                            <p id="second_sub">Footwears</p>
                            <p id="main_sub"><a href="/">Shop now</a></p> 
                        </div>
                        <div class="col-3">
                            <img src = "{% static 'media/homemencloth.avif' %}" alt="clothing home picture"/>  
                            <p id="first_sub">20% off</p>
                            <p id="second_sub">Clothing</p> 
                            <p id="main_sub"><a href="/">Shop now</a></p>
                        </div>
                    </div>
            </div>  
            <!--section 1--> 

            <!--section 2-->
                     
            <!-- {% for product in products %}  
                    {%endfor %}  --> 
            <!--section 2--> 

            {% include 'store/footer.html' %}  
{% endblock content %} 