{% extends 'store/base.html' %}
{% load static %}
{% block title %} 
    Home
{% endblock title %} 

{% block content %}
        <header> 
            {% include 'store/navbar.html' %} 
        </header>  
        <body>   
            <p id="firstpara">Where the business makes<br>it easier to buy</p>
            <!--section 1-->
            <div class="section_one"> 
                    <div class="row">  
                       <div class="col-1">
                            <img src = "{% static 'media/watchpichome.webp' %}" alt="swiss watch home picture"/>  
                            <p id="first_sub">Wore Luxury</p> 
                            <p id="second_sub">Watches</p>
                            <p id="main_sub"><a href="/">Shop now</a></p> 
                        </div>
                        <div class="col-2">
                            <img src = "{% static 'media/swissshoehome.jpg' %}" alt="footwear home picture"/>   
                            <p id="first_sub">Latest Kick</p> 
                            <p id="second_sub">Footwears</p>
                            <p id="main_sub"><a href="/">Shop now</a></p> 
                        </div>
                        <div class="col-3">
                            <img src = "{% static 'media/clothpichome.jpeg' %}" alt="clothing home picture"/>  
                            <p id="first_sub">20% off</p>
                            <p id="second_sub">Clothing</p> 
                            <p id="main_sub"><a href="/">Shop now</a></p>
                        </div>
                    </div> 

            </div> 
            <!--section 1--> 

            <!--section 2-->
            <div class="section_two"> 
                <h2>Featured</h2>  
                <div class="products-row">
                    {% for product in products %} 
                    <div class="products">
                            <img src = "{{ product.image.url }}"/>   
                            <p id="product_name"> {{ product.name }} </p> 
                            <p id="product_category"> {{ product.category }} </p> 
                            <p id="product_price"> RS {{ product.price }} </p>
                    </div> 
                    {% endfor %}
                </div>
            </div>
 

            {% include 'store/footer.html' %} 
        </body>
{% endblock %}  
