{% extends 'store/base.html' %}
{% load static %}
{% block title %} 
    Home
{% endblock title %} 

{% block content %}
        <header> 
            {% include 'store/navbar.html' %}
        </header>  
        <body>    
            <p id="firstpara">Where the business makes<br>it easier to buy</p>
            <!--section 1-->
            <div class="section_one">  
                    <div class="row">  
                       <div class="col-1">
                            <img src = "{% static 'media/swisswatchhome.jpg' %}" alt="swiss watch home picture"/>  
                            <p id="first_sub">Wore Luxury</p> 
                            <p id="second_sub">Watches</p>
                            <p id="main_sub"><a href="/">Shop now</a></p> 
                        </div>
                        <div class="col-2">
                            <img src = "{% static 'media/swissshoehome.jpg' %}" alt="footwear home picture"/>   
                            <p id="first_sub">Latest Kick</p> 
                            <p id="second_sub">Footwears</p>
                            <p id="main_sub"><a href="/">Shop now</a></p> 
                        </div>
                        <div class="col-3">
                            <img src = "{% static 'media/homemencloth.avif' %}" alt="clothing home picture"/>  
                            <p id="first_sub">20% off</p>
                            <p id="second_sub">Clothing</p> 
                            <p id="main_sub"><a href="/">Shop now</a></p>
                        </div>
                    </div>
            </div>  
            <!--section 1--> 

            <!--section 2-->
            <div class="section_two">
                <h2>Featured</h2> 
                <div class="featured_row">
                    <div class="fcol-1">
                        <img src="{% static 'media/airmaxhome.webp' %}" alt="airmaxhomepic"/> 
                            <p id="product_name">Nike Air Max 97</p> 
                            <p id="product_detail">Shoes</p> 
                            <p id="product_price">₹ 16,975 <i class="fa-solid fa-cart-shopping"></i></p>
                    </div>
                    <div class="fcol-2">  
                        <img src="{% static 'media/fossilhome.webp' %}" alt="casiomdv10"/>
                        <p id="product_name">Fossil Grant Sport Choronograph</p>  
                        <p id="product_detail">Watches</p> 
                        <p id="product_price">₹ 10,000 <i class="fa-solid fa-cart-shopping"></i></p>
                    </div>  
                    <div class="fcol-3">
                        <img src="{% static 'media/h&mshirt.jpeg' %}" alt="h&mshirthome"/> 
                        <p id="product_name">H&M Regular Fit Shirt</p> 
                        <p id="product_detail">Shirts</p> 
                        <p id="product_price">₹ 1,500 <i class="fa-solid fa-cart-shopping"></i></p>
                    </div>
                </div>
            </div>  
            <!--section 2--> 

            <!--section 3-->
        <div class="section-3"> 
                <h1>Section-3</h1> 
        </div> 
        <!--section 3-->
        </body> 
            {% include 'store/footer.html' %}  
{% endblock content %} 