{% load static %}
<nav>
        <!-- <label for="check" class="menubutton">
          <i class="fas fa-bars"></i>
        </label>  -->
      <label class="logo">
          <a href="/">Swiss-in</a>
      </label> 
      <ul class="navbar">
        <li><a href="/">Home</a></li> 
        <li><a href="/products">Products</a></li> 
        <li><a href="/cart">Cart</a></li> 
      </ul>  
      <div class="profile_button_main">
    <button class="profile_button"><a href="/">Login</a></button>  
    </div>
</nav>